* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 15;
  /* HSL color mode */
  --base-color: rgba(226, 84, 22, 255);
  --base-color-second: rgba(226, 84, 22, 255);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

span {
  color: #ffabca;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 2rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.image1 {
  max-width: 150px;
}

.image2 {
  max-width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 0.25rem;
}

footer {
  background: white;
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: black;
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: #ffabca;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

.logo {
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: white;
}

.logo-alt span {
  color: #ffabca;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}
